@define-color text #fff4d2;
@define-color color-left rgba(58, 153, 117, 0.4);
@define-color color-right rgba(189, 71, 53, 0.4);
@define-color module-background rgba(0, 0, 0, 0.15);
@define-color tooltip-background rgba(0, 0, 0, 0.9);
@define-color border rgba(89, 89, 89, 0.67);
@define-color highlight-border rgba(255, 255, 255, 0.5);

* {
  /* `otf-font-awesome` is required to be installed for icons */
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

/* the whole window */
window#waybar {
  background-color: transparent;
  background-image: linear-gradient(to right, @color-left, @color-right);
  color: @text;
  margin: 0;
  border-radius: 5px;
  border: 1px ridge @border;
}

tooltip {
  background-color: @tooltip-background;
  color: #fff4d2;
  border: 1px solid @border;
  border-radius: 5px;
}

.module {
  font-family: 'JetBrainsMono Nerd Font Propo';
  font-size: 14px;
  font-weight: 400;

  background-color: @module-background;
  /* for debugging paddings / margins: */
  /* background-color: rgba(255, 30, 30, 0.4); */

  margin: 3px 0px;
  border-radius: 5px;
  padding: 0px 10px;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  background-color: transparent;
}

#workspaces button {
  color: @text;
  background-color: @module-background;
  min-width: 25px;
  padding: 0px 4px;
  margin: 2px 2px;
  border-radius: 5px;
}

#workspaces button.active {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

#workspaces button.hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

/* a few single-item stylings for fun and profit */
#custom-player {
  font-family: JetBrains Arial;
}

#custom-logo {
  font-size: 20px;
  font-weight: 400;
}

#custom-power,
#custom-reboot,
#custom-lock,
#custom-suspend,
#clock.time {
  font-size: 16px;
  font-weight: 800;
}

#custom-player,
#clock.time {
  border: 1px solid @highlight-border;
}